# Basic Notebook Usage

## Quick Example

We load a file called example.json into postgres and query it. The data is loaded into a postgres jsonb field.

In [1]:
import noteql

In [2]:
session = noteql.Session('example')

In [3]:
with open('example.json') as f: print(f.read()) # just print the contents of the file.

{"people": [
  {"id": "1", "name": "Kat", "age": "45"},
  {"id": "2", "name": "Fred", "age": "45", "someField": "foo"},
  {"id": "3", "name": "Di", "age": "45"}
],
 "other": "not_looked_at"
}

In [4]:
session.load_json('example.json', path_to_list='people', table_name='import', field_name='person')

Total rows loaded 3

In [5]:
session.run_sql('''
   drop table if exists people;
   select  person ->> 'id' as person_id, person into people from import;
''')

'Success'

In [6]:
session.run_sql('select * from people')

## The Session

The session has to be given a name as its first argument. The name should describe the working set of data you are creating. Underneath it creates a schema in postgres. 

So whenever loading data or running anything in sql within this session, it defaults to this schema. The purpose of this is that if you are doing multiple analysis project, with potentially the same table names, this makes sure they are kept seperate. 

The simplist invocation of a session is:

```python
session = noteql.Session('my_working_set_name')
```

There is nothing to stop you having many sessions at the same time.

If you are not running this with the docker setup, you will also have to specify a sqlalchemy dburi: 

```python
# replace user/password/database/localhost with your custom connection options.
session = noteql.Session('my_working_set_name', dburi='postgresql://user:password@localhost/database')
```

Sometimes you want to delete all the data and start again:

```python
# WARNING this will delete all data in the schema!
session = noteql.Session('my_working_set_name', drop_schema=True)
```

## Loading JSON